* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI, Calibri, Verdana, Tahoma;
}



.cabecera {
	padding: 0px;
	display: flex;
	justify-content: center;
   	align-items: center;
   	line-height: 70px;
   	width: 100%;

	background-color: #47f;	
	color: #fff;
	opacity: 0.8;
	font-size: 32px;
	font-weight: bold;
	box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}



body {
	background-image: url("media/background_pattern.jpg");
}

.cuerpo {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;
}

.in-flex {
	flex: 1;
	min-width: 300px;
	max-width: 320px;	
	background-color: #fff;
	border-radius: 0px 0px 10px 10px;
}

.in-flex:noticia {
	flex: 2;
	padding: 10px;
	background-color: #666;
} 

.in-flex div {	
	padding: 25px;
	margin: 20px;
	background-color: #eee;
} 

#una-noticia {
	margin: 20px 10px 10px 10px;
	font-size: 13px;

}

#titulo-noticia {
	font-size: 17px;
	font-weight: bold;
}


.boton-cheto {
	box-shadow:inset 0px -28px 5px -6px #35a;
	background-color:#37c;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Calibri";
	font-size:20px;
	font-weight:normal;
	padding:15px 50px;
	text-shadow:0px 0px 0px #263666;
}

.boton-cheto:hover {
	background-color:#0688fa;
}

.boton-cheto:active {
	position:relative;
	top:1px;
}



footer {
	background-color: #222;
	color: #666;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.titulo-footer {
	font-weight: bold;
	margin-bottom: 3px;
}

.texto-footer {
	font-size: 10px;
}

/* Estilos del formulario popup */


form {
    margin: auto;
    background: rgba(0,0, 0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

#formulario {
	width: 300px;
}

.form-label {
    width: 300px;
    padding-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-family: 'Calibri';
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    margin: 5px 0px 15px 0px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border: 1px solid grey;
  	border-radius: 10px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
	transition: all .2s ease;
   
}

#boton:hover {
    background: rgba(0, 0, 0, 0.8);
}

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	display:none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

#map {
	height: 500px;
	width: 100%;
}

