* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI, Calibri, Verdana, Tahoma;
}



.cabecera {
	padding: 0px;
	display: flex;
	justify-content: center;
   	align-items: center;
   	line-height: 70px;
   	width: 100%;

	background-color: #47f;	
	color: #fff;
	opacity: 0.8;
	font-size: 32px;
	font-weight: bold;
	box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}



body {
	background-image: url("media/background_pattern.jpg");
}

.cuerpo {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;
}

.in-flex {
	flex: 1;
	min-width: 300px;
	max-width: 320px;	
	background-color: #fff;
	border-radius: 0px 0px 10px 10px;
}

.in-flex:noticia {
	flex: 2;
	padding: 10px;
	background-color: #666;
} 

.in-flex div {	
	padding: 25px;
	margin: 20px;
	background-color: #eee;
} 

#una-noticia {
	margin: 20px 10px 10px 10px;
	font-size: 13px;

}

#titulo-noticia {
	font-size: 17px;
	font-weight: bold;
}


.boton-cheto {
	box-shadow:inset 0px -28px 5px -6px #35a;
	background-color:#37c;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Calibri";
	font-size:20px;
	font-weight:normal;
	padding:15px 50px;
	text-shadow:0px 0px 0px #263666;
}

.boton-cheto:hover {
	background-color:#0688fa;
}

.boton-cheto:active {
	position:relative;
	top:1px;
}



footer {
	background-color: #222;
	color: #666;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.titulo-footer {
	font-weight: bold;
	margin-bottom: 3px;
}

.texto-footer {
	font-size: 10px;
}

/* Estilos del formulario popup */
form {
    margin: auto;
    background: rgba(0,0, 0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

#formulario {
	width: 300px;
}

.form-label {
    width: 300px;
    padding-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-family: 'Calibri';
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    margin: 5px 0px 15px 0px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border: 1px solid grey;
  	border-radius: 10px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
	transition: all .2s ease;
   
}

#boton:hover {
    background: rgba(0, 0, 0, 0.8);
}

.overlay {
	background: rgba(0,0, 0,0.4);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
}

.popup {
	font-family: 'Franklin Gothic Medium';
	width: 600px;
	text-align: center;
}


.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #bbbbbb ;
	transition: .2s ease all;
}

.popup .btn-cerrar-popup:hover {
	color: rgba(0,0, 0,0.8);
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	line-height: 52px;
	font-size: 18px;
	text-align: center;
	border: 1px solid #bbbbbb;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: rgba(0,0,0,8);
	font-family: 'Franklin Gothic Medium';
	font-size: 16px;
	cursor: pointer;
	transition: .2s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(0, 0, 0, 0.8);
}