* {
	padding: 0px;
	margin: 0px;
	font-family: Segoe UI, Calibri, Verdana, Tahoma;
	text-decoration: none;
}
 body {
	background-image: url("media/background_pattern.jpg");
}

.cabecera {
	padding: 0px;
	display: flex;
	justify-content: center;
   	align-items: center;
   	line-height: 70px;
   	width: 100%;
	background-color: #47f;	
	color: #fff;
	opacity: 0.8;
	font-size: 32px;
	font-weight: bold;
	box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}

/* ----- Styles del form de búsqueda (genérico) ----- */

form {
	/*background: rgba(0,0, 0,0.4);*/
    padding: 5px 10px;
    box-sizing: border-box;
}

.form-label {
    padding-bottom: 15px;
    color: #000;
    font-size: 20px;
    font-family: 'Calibri';
    width: 85%;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
 
    margin-top: 20px;
}

input, textarea {
    margin: 5px 0px 15px 0px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    border: 1px solid grey;
	border-radius: 10px;
	width: 85%;
	min-width: 260px;
	max-width: 367px;
}

textarea {
    min-height: 100px;
    max-height: 200px;   
}


/* ---------- Styles para el responsive ---------- */

.cuerpo {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 90px;
}

.in-flex {
	flex: 1;
	min-width: 260px;
	width: 85%;	
	text-align: center;
}

.in-flex:noticia {
	flex: 2;
	padding: 10px;
	background-color: #666;
} 

.in-flex div {	
	padding: 5px;
	margin: 0px;
} 

.boton-cheto {
	box-shadow:inset 0px -28px 5px -6px #35a;
	background-color:#37c;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: "Calibri";
	font-size:20px;
	font-weight:normal;
	padding:15px 50px;
	text-shadow:0px 0px 0px #263666;
	border-width: 0px;
}

.boton-cheto:hover {
	background-color:#0688fa;
}

.boton-cheto:active {
	position:relative;
	top:1px;
}

.boton-desactivado {
	box-shadow:inset 0px -28px 5px -6px #777;
	background-color:#555;
}

.boton-desactivado:hover {
	background-color:#bbb;
}

#una-noticia {
	margin: 15px 10px 10px 10px;
	font-size: 13px;
	background-color: #ddf;
}

#titulo-noticia {
	font-size: 17px;
	font-weight: bold;
}

#div-resultado-busqueda {
	width: 100%;
	height: 70px;
	font-size: 17px;
	font-weight: bold;
	line-height: 70px;
	visibility: hidden;
	margin-top: 10px;
}

#numerador-paginas {
	line-height: 30px;
	font-size: 24px;
	padding: 0px 20px 0px 20px;
}


/* ---------- Styles del modal Compartir ---------- */

#boton-modal {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
	transition: all .2s ease;
   
}

#boton-modal:hover {
    background: rgba(0, 0, 0, 0.8);
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.678);
	z-index: 99999;
	display:none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}

.modalDialog div {
	width: 400px;
	position: relative;
	margin: 2% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: rgba(0,0,0, .9);
	background: -moz-linear-gradient(#fff, #37f);
	background: -webkit-linear-gradient(#fff, #37c);
	background: -o-linear-gradient(#fff, #37c);
  	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}
.close {
	background: grey;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #000000; }

.form_contact h1{
	font-family: 'Monserrat';
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	background: none;
	color: rgb(22, 17, 17);
	margin: 5%;
}

.form_contact form-label {
	text-align: left;
}

.form_contact input[type="text"] {
	background: left;
	background: #fff;
	
}

.form_contact input[type="submit"] {
	font-size: 25px;
	
}

.form_contact .compartir {
	padding: 0px;
	display: flex;
	justify-content: center;
   	align-items: center;
   	line-height: 70px;
   	width: 100%;

	color: #fff;
	opacity: 0.8;
	font-size: 32px;
	font-weight: normal;
	box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}


/* ---------- Styles del mapa ---------- */

#map {
	height: 350px;
	padding: 0px;
	margin: 0px;
	flex: 1;
	min-width: 260px;
	width: 100%;
}

#div-contacto{
	min-width: 260px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 20px;
}

@media (max-width:800px){
	.modalDialog div{
		width: 70%;
		
	}
}


/* ---------- Styles de la sidebar ---------- */

.sidebar {
	position: fixed;
	left:-240px;
	width: 240px;
	height: 100%;
	background: #1e1e1e;
	transition: all .5s ease;
	top: 0px;
}

.sidebar header {
	color: white;
	font-size: 28px;
	line-height: 70px;
	text-align: center;
	background: #1b1b1b;
	user-select: none;
	font-family: 'Franklin Gothic Medium', sans-serif;

}

.sidebar a {
	display: block;
	color: white;
	height: 65px;
	width: 100%;
	line-height: 65px;
	padding-left: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	border-top: 1px solid black;
	border-left: 5px solid transparent;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	transition: all .5s ease;
}

#elemento-sidebar {
	line-height: 32px;
	font-size: 15px;
	padding-left: 10px;
}

#elemento-sidebar:hover, #elemento-sidebar.active {
	border-left: 5px solid #b93632;
	color: #b93632;
}

#elemento-sidebar-grande:hover, #elemento-sidebar-grande.active {
	border-left: 5px solid #b93632;
	color: #b93632;
}

.sidebar a i {
	font-size: 23px;
	margin-right: 16px;
}

.sidebar a span {
	letter-spacing: 1px;
	text-transform: uppercase;
}

#check {
	display: none;
}

label #btn, label #cancel{
	position: absolute;
	cursor: pointer;
	background: #262626;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 45px;
	color: white;
	font-size: 29px;
	border-radius: 5px;
	margin: 12px 5px;
	border: 1px solid #262626;
	transition: all .5s ease;
	top: 0px;
}

label #cancel {
	opacity: 0;
	visibility: hidden;
}

#check:checked ~ label #btn{
	margin-left: 245px;
	opacity: 0;
	visibility: hidden;
}

#check:checked ~ label #cancel{
	margin-left: 245px;
	opacity: 1;
	visibility: visible;
}

#check:checked ~ .sidebar{
	left: 0;
}
/*
@media (max-width: 860px){
	.sidebar{
		height: auto;
		width: 70px;
		left: 0;
		margin: 100px 0;
	}
	header,#btn,#cancel{
		display: none;
	}
	span{
		position: absolute;
		margin-left: 23px;
		opacity: 0;
		visibility: hidden;
	}
	.sidebar a i{
		margin-left: -10px;
	}
	a:hover{
		width: 200px;
		background: inherit;
	}
	.sidebar a:hover span{
		opacity: 1;
		visibility: visible;
	}
} */
#div-contacto-map{
	min-width: 250px;
	min-height: 325px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	margin-top: 20px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 200px;
    overflow: hidden;
}

.google-maps iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer{
    width: 100%;
    background: #202020;
	color: white;
	line-height: 35px;
}
#elemento-footer {
	padding: 0px;
	min-width: 100px;
}

#fotito{
	height: 10%;
	width: 10%;
	max-width: 72px;
	max-height: 72px;
	min-width: 18px;
	min-height: 18px;
}



